<!-- <h2>My Cars:</h2>
<ul class="cars">
    <li *ngFor="let car of cars" [class.selected]="car === selectedCar"   (click)="onSelect(car)">
        <div>
            
            <div><label for="brand">Brand: </label>
                <span class="badge"  id="brand">{{car.brand.brandName}}</span></div>
            <div><label for="model">Model: </label>
                <span class="badge"  id="model">{{car.model}}</span></div>
            <div><label for="price">Price: </label>
                <span class="badge"  id="price">{{car.price}}</span></div>
                <hr>
        </div>
    </li>
</ul>
<app-car-detail [car]="selectedCar"></app-car-detail> -->
<h2>My Cars</h2>
<hr>
<div>
  <label for="new-car">Car name: </label>
  <input id="new-car" #carName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(carName.value); carName.value=''">    Add Car  </button>
</div>

<ul class="cars">
  <li *ngFor="let car of cars">
    <a routerLink="/detail/{{car.id}}">
      <span class="badge">{{car.model}}</span>{{car.brand.brandName}}
    </a>
    <button class="delete" title="delete car"
      (click)="delete(car)">x</button>
  </li>
</ul>